{% extends "base.html.twig" %}

{% block body %}
  <a href="/">Back</a>

  {% for path in group.paths %}
    {% include "includes/changes.html.twig" with {"path": path} %}
  {% endfor %}
{% endblock %}

