<div class="panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      titel
    </div>

    <div class="panel-body">
      <div class="message">
        <p>Statistics go here.</p>
      </div>
    </div>

    <div class="panel-footer">
      <a href="ch-{{ id }}.html">List changes</a>
    </div>
  </div>
</div>